img {
  width: 50%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  box-shadow: 0 10px 16px 0 rgba(0, 0, 0, 0.2);
}

h1 {
  background-color: rgb(78, 59, 33);
  text-align: center;
  border-radius: 10px;
  color: white;
  padding: 10px;
  font-family: "Roboto", sans-serif;
}

h2 {
  padding-top: 10px;
}

footer {
  background-color: rgb(78, 59, 33);
  text-align: center;
  border-radius: 10px;
}

footer p {
  border-radius: 10px;
  color: white;
  padding-top: 10px;
}

footer h4 {
  color: yellow;
  margin-top: -10px;
  padding-bottom: 10px;
}

footer p a {
  color: white;
}

hr {
  margin-top: -10px;
}

body {
  padding-left: 20%;
  padding-right: 20%;
}

ul {
  color: gray;
}

ul li {
  color: black;
}

h3 {
  font-size: 0.8em;
  color: yellow;
}
