@media only screen and (min-width: 32.5cm) {
  img {
    float: right;
    width: 125px;
    margin-top: 5px;
    margin-right: 7px;
    box-shadow: 0 10px 16px 0 rgba(0, 0, 0, 0.2);
  }

  h3 {
    font-size: 1em;
    color: yellow;
  }
}
