@media only screen and (min-width: 60em) {
  /* A;; Pages */
  header {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 1fr;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    padding-left: 35%;
    padding-right: 65%;
    max-width: 70%;
    margin: 0 auto;
  }

  footer {
    background-color: rgb(231, 231, 231);
    text-align: center;
    border-radius: 10px;
    margin: 0 auto;
    padding-bottom: 5px;
  }

  footer p {
    border-radius: 10px;
    color: black;
    padding-top: 10px;
  }

  footer h4 {
    color: black;
    margin-top: -10px;
    padding-bottom: 10px;
  }

  footer p a {
    color: black;
  }
  /* Home Page */

  .herodiv {
    display: flex;
    justify-content: center;
  }

  .mainPhoto {
    margin-left: auto;
    margin-right: auto;
    width: 1200px;
    height: 600px;
  }

  .navigation {
    display: flex;
    list-style: none;
    text-align: center;
    padding: 0;
  }

  .navigation li {
    display: block;
    flex: 1 1 auto;
    border: solid;
  }

  .navigation li:first-child {
    display: none;
  }

  .contact {
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr;
    grid-row-gap: 0px;
    background-color: rgb(172, 159, 143);
    margin-left: 0px;
  }

  .contact_info {
    grid-row: 1/2;
    grid-column: 1/2;
    margin: 5px 10px;
  }

  .contact_info h2,
  p {
    background-color: white;
  }

  .logos {
    margin-left: -7%;
  }

  .image_contact {
    grid-row: 2/3;
    grid-column: 1/2;
    border: solid;
    width: 300px;
    margin: 5px auto;
  }

  .contact h3 {
    /* grid-column: 2/3; */
    grid-row: 1/2;
    justify-content: center;
  }

  .grid-container {
    display: grid;
    grid-template-columns: 60% 40%;
    grid-column-gap: 3px;
    justify-content: center;
  }

  .grid-container h3 {
    border: solid;
    padding-left: 2%;
  }

  .article p {
    padding-bottom: 200px;
  }

  .business_info {
    width: 100%;
    display: grid;
    grid-template-rows: repeat(3, 1fr);
    row-gap: 5px;
    margin: 0 auto;
  }

  section {
    display: grid;
    border: solid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 1fr;
    text-align: center;
    background-color: rgb(158, 158, 250);
  }

  section:nth-child(odd) img {
    grid-row: 1;
  }

  section img {
    width: 80%;
    height: 200px;
    margin-left: 20px;
    margin-top: 5px;
    margin-bottom: 5px;
  }

  section:nth-child(even) article {
    grid-column: 2;
  }

  .forecast {
    display: grid;
    grid-template-columns: 50% 50%;
  }

  .dayNames {
    grid-column: 1/2;
  }

  .dayTemp {
    grid-column: 2/3;
  }
}
