body {
  padding-left: 10%;
  padding-right: 10%;
}

.superior {
  background-color: black;
  color: white;
  text-align: center;
}

.superior h1 {
  margin-bottom: -10px;
}

.superior p {
  padding-bottom: 10px;
}

.grid-container {
  display: grid;
  grid-column-gap: 50px;
  grid-template-columns: auto auto auto;
  margin-top: -10px;
}

.grid-container h2 {
  background-color: rgb(57, 96, 141);
  color: white;
  text-align: center;
  margin-top: 0px;
}

.grid-container div {
  border: black;
  border-width: 1px;
  border-style: solid;
  background: rgb(231, 231, 231);
}

.grid-container img {
  width: 250px;
  margin-left: 15px;
}

footer {
  background-color: rgb(78, 59, 33);
  text-align: center;
  border-radius: 10px;
}

footer p {
  border-radius: 10px;
  color: white;
  padding-top: 10px;
}

footer h4 {
  color: yellow;
  margin-top: -10px;
  padding-bottom: 10px;
}

footer p a {
  color: white;
}