body {
  padding-left: 10%;
  padding-right: 10%;
}

.superior {
  background-color: black;
  color: white;
  text-align: center;
}

.superior h1 {
  margin-bottom: -10px;
}

.superior p {
  padding-bottom: 10px;
}

.grid-container {
  display: grid;
  grid-column-gap: 50px;
  grid-template-columns: auto auto auto;
}

.grid-container h2 {
  background-color: darkblue;
  color: white;
  text-align: center;
}
