/* body {
    padding-left: 10px;
  padding-right: 10px;
} */

.superior {
    background-color: black;
    color: white;
    text-align: center;
  }
  
  .superior h1 {
    margin-bottom: -10px;
  }
  
  .superior p {
    padding-bottom: 10px;
  }

.grid-container {
    display: grid;
    grid-row-gap: 50px;
    grid-template-rows: auto auto auto;
    margin-top: -10px;
  }

  .grid-container img {
    width: 380px;
    padding-right: 10%;
    padding-left: 10%;
  }

  
  .grid-container h2 {
    background-color: rgb(57, 96, 141);
    color: white;
    text-align: center;
    margin-top: 0px;
  }
  
  .grid-container div {
    border: black;
    border-width: 1px;
    border-style: solid;
    background: rgb(231, 231, 231);
  }