img {
  width: 150px;
  float: right;
}

h1 {
  background-color: antiquewhite;
  text-align: center;
}

h2 {
  padding-top: 10px;
}

footer {
  background-color: antiquewhite;
  text-align: center;
}
