@import url("https://fonts.googleapis.com/css2?family=Benne&display=swap");

h1 {
  text-align: center;
  font-family: "Benne", serif;
  color: rgb(4, 63, 114);
}

.cards {
  margin: 0 auto;
  text-align: center;
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  column-gap: 8px;
  row-gap: 6px;
  max-width: 70%;
}

img {
  width: 200px;
}

.cards section {
  border: solid;
  background-color: rgb(111, 162, 207);
}

.cards section h2 {
  color: rgb(4, 63, 114);
  font-family: "Benne", serif;
}

/* MEDIUM */
@media only screen and (min-width: 32.5em) {
  .cards {
    margin: 0 auto;
    text-align: center;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 8px;
    row-gap: 6px;
    max-width: 70%;
  }
}

/* BIG */
@media only screen and (min-width: 60em) {
  .cards {
    margin: 0 auto;
    text-align: center;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    column-gap: 8px;
    row-gap: 6px;
    max-width: 70%;

    border: solid;
    padding: 9px;
  }
}
