h1 {
  margin-left: 3%;
  text-align: center;
}
.video {
  margin-left: 32%;
  margin-right: 32%;
}
h2 {
  text-align: center;
  background-color: #005c99;
  color: white;
  margin-left: 3%;
}

footer p {
  border-radius: 10px;
  color: white;
  padding-top: 10px;
}

footer p a {
  color: white;
}

footer h3 {
  color: white;
  margin-top: -10px;
  padding-bottom: 10px;
}
footer {
  background-color: #005c99;
  margin-left: 3%;
  text-align: center;
}
