@media only screen and (min-width: 32.5em) {
  nav {
    background-color: #005c99;
    margin: 0 auto;
  }
  header {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 1fr;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    padding-left: 35%;
    padding-right: 65%;
    max-width: 70%;
    margin: 0 auto;
  }

  .imagen {
    width: 120px;
    grid-area: 1 / 1 / 2 / 2;
  }

  .title {
    text-align: center;
    padding-top: 23px;
    grid-area: 1 / 2 / 2 / 3;
  }

  .portada {
    width: 55%;
    /* height: 10%; */
    margin-left: 23%;
  }
  .herodiv {
    margin: 10px auto;
    position: relative;
  }

  .stats {
    position: absolute;
    top: 25px;
    left: 250px;
    background: radial-gradient(#eee, #4567aa);
    border: 1px solid #000;
    padding: 1.5rem;
    box-shadow: 0 0 30px #333;
    opacity: 0.9;
  }

  .navigation a:hover {
    background-color: white;
    color: black;
  }

  .navigation {
    display: flex;
    list-style: none;
    text-align: center;
    padding: 0;
  }

  .navigation li {
    display: block;
    flex: 1 1 auto;
    border: solid;
  }

  .navigation a {
    text-align: center;
    color: white;
    padding: 0.5rem;
    display: block;
  }

  .navigation li:first-child {
    display: none;
  }

  .subTitle {
    margin: 0 auto;
    max-width: 70%;
    text-align: center;
    border: solid;
  }

  .grid-container {
    margin: 0 auto;
    display: grid;
    row-gap: 0px;
    max-width: 67%;
  }

  .grid-container p {
    border: solid;
    padding-left: 2%;
  }

  footer {
    background-color: rgb(231, 231, 231);
    text-align: center;
    border-radius: 10px;
    margin: 0 auto;
    padding-bottom: 5px;
  }

  footer p {
    border-radius: 10px;
    color: black;
    padding-top: 10px;
  }

  footer h4 {
    color: black;
    margin-top: -10px;
    padding-bottom: 10px;
  }

  footer p a {
    color: black;
  }
}
