@media only screen and (min-width: 60em) {
  nav {
    background-color: #005c99;
    margin: 0 auto;
  }
  header {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 1fr;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    padding-left: 35%;
    padding-right: 65%;
    max-width: 70%;
    margin: 0 auto;
  }

  .imagen {
    width: 120px;
    grid-area: 1 / 1 / 2 / 2;
  }

  .title {
    text-align: center;
    padding-top: 23px;
    grid-area: 1 / 2 / 2 / 3;
  }

  .navigation li .active {
    display: block;
    background:white;
    color: black;
    text-decoration: underline;
  }

  .portada {
    width: 55%;
    margin-left: 23%;
  }

  .herodiv {
    margin: 10px auto;
    position: relative;
  }

  .stats {
    position: absolute;
    top: 25px;
    left: 250px;
    background: radial-gradient(#eee, #4567aa);
    border: 1px solid #000;
    padding: 1.5rem;
    box-shadow: 0 0 30px #333;
    opacity: 0.9;
  }

  .navigation a:hover {
    background-color: white;
    color: black;
  }

  .navigation {
    display: flex;
    list-style: none;
    text-align: center;
    padding: 0;
  }

  .navigation li {
    display: block;
    flex: 1 1 auto;
    border: solid;
  }

  .navigation a {
    text-align: center;
    color: white;
    padding: 0.5rem;
    display: block;
    text-decoration: none;
  }

  .navigation li:first-child {
    display: none;
  }

  .subTitle {
    margin: 0 auto;
    max-width: 70%;
    text-align: center;
    border: solid;
  }

  .grid-container {
    margin: 0 auto;
    display: grid;
    row-gap: 0px;
    max-width: 67%;
  }

  .forecast {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
  }

  .forecast h4 {
    grid-row: 1/2;
    background-color: rgb(134, 243, 134);
    text-align: center;
    padding-top: 2px;
    border: solid;
    margin: 0 !important;
  }

  .forecast p {
    grid-row: 2/3;
    text-align: center;
    border: solid;
    margin: 0 !important;
  }

  h3 {
    text-align: center;
  }

  .contact {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 1fr;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
  }

  .contact .contact_info {
    grid-column: 2/3;
  }

  .logos {
    margin-left: -7%;
  }

  .image_contact {
    grid-column: 1/2;
    grid-row: 1/2;
    border: solid;
    margin-left: 20%;
  }

  .contact h3 {
    grid-column: 2/3;
    grid-row: 1/2;
  }

  .grid-container h3 {
    border: solid;
    padding-left: 2%;
  }

  .article .foto_de_article {
    /* width: 400px; */
    float: right;
  }

  .article p {
    margin-bottom: 8%;
  }

  .article h3 {
    text-align: left;
    border: none;
  }

  footer {
    background-color: rgb(231, 231, 231);
    text-align: center;
    border-radius: 10px;
    margin: 0 auto;
    padding-bottom: 5px;
  }

  footer p {
    border-radius: 10px;
    color: black;
    padding-top: 10px;
  }

  footer h4 {
    color: black;
    margin-top: -10px;
    padding-bottom: 10px;
  }

  footer p a {
    color: black;
  }
}
