body {
  /* margin-left: 2%;
  margin-right: 3%; */
}

.flex-container {
  display: flex;
  flex-wrap: wrap;
  /* width: 100%; */
  align-items: center;
  /* background-color: gray; */
}

.flex-container li{
  background-color: #dfa5a5;
  flex: 23%;
  padding: 15px 10px;
  text-align: center;
  white-space: wrap;
  border-style: solid;
  /* list-style-type: none; */
}

.title {
  text-align: center;
  background-color: blue;
  margin-left: 3%;
}
