body {
  /* margin-left: 2%;
  margin-right: 3%; */
}

.flex-container {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.flex-container li{
  background-color: #005c99;
  flex: 23%;
  padding: 15px 10px;
  text-align: center;
  white-space: wrap;
  border-style: solid;
  list-style-type: none;
}

.flex-container li:hover {
  background-color: rgb(7, 125, 172);
  color: black;
}

.flex-container li a {
  color: white;
}

.title {
  text-align: center;
  background-color: white;
  margin-left: 3%;
}
